
.search{
    color: black;
}

.parent {
    display: flex;
  }
  
  .child {
    flex: 1;
  }

  .Page{
    padding: 1%;

  }

.btnz{
  color: rgb(28, 36, 37) !important;
  /* #0d6efd */
}

.btn-tab{
  color: white;
  background-color: #0d6efd;
}